<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.2" targetFramework="net471" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net471" />
  <package id="Microsoft.MixedReality.WebRTC" version="2.0.2" targetFramework="net471" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net471" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net471" />
  <package id="System.Management" version="6.0.0" targetFramework="net471" />
</packages>